body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color:#F1FFE5; 
  }

  .profile-info{
    background-color:#FCFFFA;
        opacity: 0.7;   
  }

  .profile-info:hover{
    opacity: 1;
  }

  .fa-thumbs-up {
    color:#3A3A3A;

  }

  .post-feed-box-public{
    background-color:#FCFFFA;
        opacity: 0.7;   
  }


  .back-image {
    opacity: 0.7; 
  }

  .carousel{
    opacity: 0.7; 

  }